{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La nieve</title>
</head>

<body>
    <header>
        <div class="menu container">
            <a href="#" class="logo">La nieve</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="" class="menu-icono" alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Abous Us</a></li>
                    <li><a href="#">Recomendaciones</a></li>
                </ul>
            </nav>
        </div>


        <div class="header-content container">
            <h1>Helados</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, saepe in similique ipsum
                consequatur esse minus praesentium quod unde! Iste temporibus nostrum voluptatum quis provident unde
                obcaecati! Amet, esse aliquid?
            </p>
            <a href="#" class="btn-1">Informacion</a>

        </div>
    </header>


    <section class="coffe">
        <img src="#" alt="">

        <div class="helado-content container"></div>

    </section>



</body>

</html>

{% endblock %}