<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block tittle %} HELADERÍA LA NIEVE {% endblock %}</title>
  <link rel="stylesheet" href="/static/css/stylebase.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="/static/images/logo.png" alt="Logo de la marca">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="{% url 'login:login1' %}">Iniciar Sesión</a></li>
        <li><a href="{% url 'productos:catalogo' %}">Productos</a></li>
        <li><a href="{% url 'heladeria:about_us' %}">About Us</a></li>
        <li><a href="{% url 'heladeria:recomendaciones' %}">Recomendaciones</a></li>
      </ul>
    </nav>
    <a href="#" class="btn"><button>Descarga nuestra app!</button></a>
  </header>

  {% block content %}
  {% endblock %}

</body>
</html>
